# Colunas de tipos especiais

* strings
* categorias
* datas e tempos

## Strings

In [400]:
from sklearn.datasets import load_breast_cancer
df = load_breast_cancer(as_frame=True)['data']
df.sample(5)

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
518,12.880,18.22,84.45,493.1,0.12180,0.1661,0.04825,0.05303,0.1709,0.07253,...,15.05,24.37,99.31,674.7,0.1456,0.2961,0.1246,0.10960,0.2582,0.08893
253,17.300,17.08,113.00,928.2,0.10080,0.1041,0.12660,0.08353,0.1813,0.05613,...,19.85,25.09,130.90,1222.0,0.1416,0.2405,0.3378,0.18570,0.3138,0.08113
68,9.029,17.33,58.79,250.5,0.10660,0.1413,0.31300,0.04375,0.2111,0.08046,...,10.31,22.65,65.50,324.7,0.1482,0.4365,1.2520,0.17500,0.4228,0.11750
320,10.250,16.18,66.52,324.2,0.10610,0.1111,0.06726,0.03965,0.1743,0.07279,...,11.28,20.61,71.53,390.4,0.1402,0.2360,0.1898,0.09744,0.2608,0.09702
558,14.590,22.68,96.39,657.1,0.08473,0.1330,0.10290,0.03736,0.1454,0.06147,...,15.48,27.27,105.90,733.5,0.1026,0.3171,0.3662,0.11050,0.2258,0.08004

In [401]:
for c in df.columns:
    print(c)

mean radius
mean texture
mean perimeter
mean area
mean smoothness
mean compactness
mean concavity
mean concave points
mean symmetry
mean fractal dimension
radius error
texture error
perimeter error
area error
smoothness error
compactness error
concavity error
concave points error
symmetry error
fractal dimension error
worst radius
worst texture
worst perimeter
worst area
worst smoothness
worst compactness
worst concavity
worst concave points
worst symmetry
worst fractal dimension

### MÃ©todos avanÃ§ados para seleÃ§Ã£o/filtragem

#### Como pegar apenas colunas que comeÃ§am com `worst`?

In [402]:
df.columns.str.startswith('worst')

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [403]:
df.loc[:, df.columns.str.startswith('worst')]

,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...
564,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

#### Como pegar apenas colunas que terminam com `error`?

In [404]:
df.loc[:, df.columns.str.endswith('error')]

,radius error,texture error,perimeter error,area error,smoothness error,compactness error,concavity error,concave points error,symmetry error,fractal dimension error
0,1.0950,0.9053,8.589,153.40,0.006399,0.04904,0.05373,0.01587,0.03003,0.006193
1,0.5435,0.7339,3.398,74.08,0.005225,0.01308,0.01860,0.01340,0.01389,0.003532
2,0.7456,0.7869,4.585,94.03,0.006150,0.04006,0.03832,0.02058,0.02250,0.004571
3,0.4956,1.1560,3.445,27.23,0.009110,0.07458,0.05661,0.01867,0.05963,0.009208
4,0.7572,0.7813,5.438,94.44,0.011490,0.02461,0.05688,0.01885,0.01756,0.005115
...,...,...,...,...,...,...,...,...,...,...
564,1.1760,1.2560,7.673,158.70,0.010300,0.02891,0.05198,0.02454,0.01114,0.004239
565,0.7655,2.4630,5.203,99.04,0.005769,0.02423,0.03950,0.01678,0.01898,0.002498
566,0.4564,1.0750,3.425,48.55,0.005903,0.03731,0.04730,0.01557,0.01318,0.003892
567,0.7260,1.5950,5.772,86.22,0.006522,0.06158,0.07117,0.01664,0.02324,0.006185
568,0.3857,1.4280,2.548,19.15,0.007189,0.00466,0.00000,0.00000,0.02676,0.002783

#### Como pegar apenas colunas referentes a `symmetry`?

In [406]:
df.loc[:, df.columns.str.contains('symmetry')]

     mean symmetry  symmetry error  worst symmetry
0           0.2419         0.03003          0.4601
1           0.1812         0.01389          0.2750
2           0.2069         0.02250          0.3613
3           0.2597         0.05963          0.6638
4           0.1809         0.01756          0.2364
..             ...             ...             ...
564         0.1726         0.01114          0.2060
565         0.1752         0.01898          0.2572
566         0.1590         0.01318          0.2218
567         0.2397         0.02324          0.4087
568         0.1587         0.02676          0.2871

[569 rows x 3 columns]

__Resumo__
* `.str.startswith`
* `.str.endswith`
* `.str.contains`

### Outros mÃ©todos

In [407]:
df.columns.str.upper()

Index(['MEAN RADIUS', 'MEAN TEXTURE', 'MEAN PERIMETER', 'MEAN AREA',
       'MEAN SMOOTHNESS', 'MEAN COMPACTNESS', 'MEAN CONCAVITY',
       'MEAN CONCAVE POINTS', 'MEAN SYMMETRY', 'MEAN FRACTAL DIMENSION',
       'RADIUS ERROR', 'TEXTURE ERROR', 'PERIMETER ERROR', 'AREA ERROR',
       'SMOOTHNESS ERROR', 'COMPACTNESS ERROR', 'CONCAVITY ERROR',
       'CONCAVE POINTS ERROR', 'SYMMETRY ERROR', 'FRACTAL DIMENSION ERROR',
       'WORST RADIUS', 'WORST TEXTURE', 'WORST PERIMETER', 'WORST AREA',
       'WORST SMOOTHNESS', 'WORST COMPACTNESS', 'WORST CONCAVITY',
       'WORST CONCAVE POINTS', 'WORST SYMMETRY', 'WORST FRACTAL DIMENSION'],
      dtype='object')

In [408]:
df.columns.str.lower()

Index(['mean radius', 'mean texture', 'mean perimeter', 'mean area',
       'mean smoothness', 'mean compactness', 'mean concavity',
       'mean concave points', 'mean symmetry', 'mean fractal dimension',
       'radius error', 'texture error', 'perimeter error', 'area error',
       'smoothness error', 'compactness error', 'concavity error',
       'concave points error', 'symmetry error', 'fractal dimension error',
       'worst radius', 'worst texture', 'worst perimeter', 'worst area',
       'worst smoothness', 'worst compactness', 'worst concavity',
       'worst concave points', 'worst symmetry', 'worst fractal dimension'],
      dtype='object')

In [409]:
df.columns.str.capitalize()

Index(['Mean radius', 'Mean texture', 'Mean perimeter', 'Mean area',
       'Mean smoothness', 'Mean compactness', 'Mean concavity',
       'Mean concave points', 'Mean symmetry', 'Mean fractal dimension',
       'Radius error', 'Texture error', 'Perimeter error', 'Area error',
       'Smoothness error', 'Compactness error', 'Concavity error',
       'Concave points error', 'Symmetry error', 'Fractal dimension error',
       'Worst radius', 'Worst texture', 'Worst perimeter', 'Worst area',
       'Worst smoothness', 'Worst compactness', 'Worst concavity',
       'Worst concave points', 'Worst symmetry', 'Worst fractal dimension'],
      dtype='object')

In [410]:
df.columns.str.split(' ')

Index([               ['mean', 'radius'],               ['mean', 'texture'],
                   ['mean', 'perimeter'],                  ['mean', 'area'],
                  ['mean', 'smoothness'],           ['mean', 'compactness'],
                   ['mean', 'concavity'],     ['mean', 'concave', 'points'],
                    ['mean', 'symmetry'],  ['mean', 'fractal', 'dimension'],
                     ['radius', 'error'],              ['texture', 'error'],
                  ['perimeter', 'error'],                 ['area', 'error'],
                 ['smoothness', 'error'],          ['compactness', 'error'],
                  ['concavity', 'error'],    ['concave', 'points', 'error'],
                   ['symmetry', 'error'], ['fractal', 'dimension', 'error'],
                     ['worst', 'radius'],              ['worst', 'texture'],
                  ['worst', 'perimeter'],                 ['worst', 'area'],
                 ['worst', 'smoothness'],          ['worst', 'compactness'],
                  ['worst', 'concavity'],    ['worst', 'concave', 'points'],
                   ['worst', 'symmetry'], ['worst', 'fractal', 'dimension']],
      dtype='object')

## Categorias

In [411]:
df = pd.read_csv('dados/titanic.csv', usecols=['class','sex','age'])
df.sample(5)

        sex   age   class
128  female   NaN   Third
509    male  26.0   Third
8    female  27.0   Third
637    male  31.0  Second
488    male  30.0   Third

In [412]:
df.dtypes

sex       object
age      float64
class     object
dtype: object

In [413]:
df['sex'] = df['sex'].astype('category')
df['class'] = df['class'].astype('category')

In [414]:
df.dtypes

sex      category
age       float64
class    category
dtype: object

In [415]:
df['class'].cat.categories

Index(['First', 'Second', 'Third'], dtype='object')

In [416]:
df['class'] = df['class'].cat.reorder_categories(['Third','Second','First'], ordered=True)

In [417]:
df['class'].values

['Third', 'First', 'Third', 'First', 'Third', ..., 'Second', 'First', 'Third', 'First', 'Third']
Length: 891
Categories (3, object): ['Third' < 'Second' < 'First']

## Datas e tempos

### Hoje

In [418]:
from datetime import date

In [419]:
hoje = date.today()
hoje

datetime.date(2023, 1, 13)

In [420]:
hoje.strftime("%d/%m/%y")

'13/01/23'

In [421]:
hoje.strftime("%Y-%b-%d")

'2023-Jan-13'

Para uma tabela completa sobre sobre o mÃ©todo `.strftime`, veja este [link](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior)

### SÃ©ries de tempo

In [349]:
pd.date_range('2023-01-01','2023-02-13')

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10', '2023-02-11', '2023-02-12', '2023-02-13'],
              dtype='datetime64[ns]', freq='D')

### Trabalhando com datas em `pandas`

In [350]:
df = pd.DataFrame([])
df['data'] = pd.date_range('2000-01-01',hoje)
df.head()

        data
0 2000-01-01
1 2000-01-02
2 2000-01-03
3 2000-01-04
4 2000-01-05

In [351]:
df.dtypes

data    datetime64[ns]
dtype: object

In [352]:
df['dia'] = df.data.dt.day
df['mes'] = df.data.dt.month
df['ano'] = df.data.dt.year
df['dia_da_semana'] = df.data.dt.dayofweek #2a = 0; 3a = 1 ; ... ; domingo = 6

df.sample(5)

           data  dia  mes   ano  dia_da_semana
5680 2015-07-21   21    7  2015              1
6507 2017-10-25   25   10  2017              2
4340 2011-11-19   19   11  2011              5
5635 2015-06-06    6    6  2015              5
2491 2006-10-27   27   10  2006              4

In [353]:
df['dia_da_semana'] = df.dia_da_semana.replace({0: '2a',
                                                1: '3a', 
                                                2: '4a',
                                                3: '5a',
                                                4: '6a',
                                                5: 'sab',
                                                6: 'dom'})

In [354]:
df.tail(5)

           data  dia  mes   ano dia_da_semana
8409 2023-01-09    9    1  2023            2a
8410 2023-01-10   10    1  2023            3a
8411 2023-01-11   11    1  2023            4a
8412 2023-01-12   12    1  2023            5a
8413 2023-01-13   13    1  2023            6a

In [355]:
df['mes_extenso'] = df.data.dt.month_name()
df['dia_da_semana'] = df.data.dt.day_name()

df.sample(5)

           data  dia  mes   ano dia_da_semana mes_extenso
1466 2004-01-06    6    1  2004       Tuesday     January
3211 2008-10-16   16   10  2008      Thursday     October
962  2002-08-20   20    8  2002       Tuesday      August
221  2000-08-09    9    8  2000     Wednesday      August
4018 2011-01-01    1    1  2011      Saturday     January

In [356]:
codigo_local = 'pt_BR.UTF-8'
df['mes_extenso'] = df.data.dt.month_name(codigo_local)
df['dia_da_semana'] = df.data.dt.day_name(codigo_local)

df.sample(5)

           data  dia  mes   ano dia_da_semana mes_extenso
75   2000-03-16   16    3  2000  Quinta-feira      MarÃ£Â§o
263  2000-09-20   20    9  2000  Quarta-feira    Setembro
3066 2008-05-24   24    5  2008       SÃ£Â¡bado        Maio
6020 2016-06-25   25    6  2016       SÃ£Â¡bado       Junho
195  2000-07-14   14    7  2000   Sexta-feira       Julho

In [357]:
df['YTD'] = df.data.dt.dayofyear
df['quarter'] = df.data.dt.quarter
df.sample(5)

           data  dia  mes   ano dia_da_semana mes_extenso  YTD  quarter
7157 2019-08-06    6    8  2019  TerÃ£Â§a-feira      Agosto  218        3
7853 2021-07-02    2    7  2021   Sexta-feira       Julho  183        3
4504 2012-05-01    1    5  2012  TerÃ£Â§a-feira        Maio  122        2
4883 2013-05-15   15    5  2013  Quarta-feira        Maio  135        2
7272 2019-11-29   29   11  2019   Sexta-feira    Novembro  333        4

### Fazendo contas com datas

In [370]:
from datetime import date
from datetime import timedelta

In [371]:
hoje

datetime.date(2023, 1, 13)

In [391]:
outro_dia = date(2033, 1, 13)

#### NÃºmero de dias entre duas datas

In [392]:
outro_dia - hoje

datetime.timedelta(days=3653)

In [393]:
(outro_dia - hoje).days

3653

#### Data daqui a "x" dias

In [394]:
hoje + timedelta(1) #AmanhÃ£

datetime.date(2023, 1, 14)

In [395]:
hoje + timedelta(7) #Semana que vem

datetime.date(2023, 1, 20)

#### Exemplos

##### Dias corridos

In [396]:
def dias_corridos(data1, data2):
    return((data2 - data1).days)

dias_corridos(hoje, outro_dia)

3653

In [397]:
def anos_corridos(data1, data2):
    return(dias_corridos(data1, data2)/365)

anos_corridos(hoje, outro_dia)

10.008219178082191

##### Dias corridos 30/360

$$ 
\tau = \frac{360 \times \Delta Y + 30 \times \Delta M + 1 \times \Delta D}{360} 
$$

In [398]:
def dias_corridos_30_360(data1, data2):

    Delta_Y = data2.year - data1.year
    Delta_M = data2.month - data1.month
    Delta_D = data2.day - data1.day

    return (360*Delta_Y + 30*Delta_M + Delta_D)/360

dc_30_360(hoje, outro_dia)

10.0

__obs.:__ No mercado financeiro, frequentemente estamos interessados em __dias Ãºteis__. Nesses casos, podemos utilizar o pacote `bizdays`, juntamente com o [calendÃ¡rio de feriados bancÃ¡rios da ANBIMA](https://www.anbima.com.br/feriados/arqs/feriados_nacionais.xls).