# Estruturas de dados

As estruturas de dados mais comuns em Python são as seguintes:

1. Listas
2. Dicionários
3. Tuplas
4. Conjuntos

Mais tarde, vamos acrescentar mais dois elementos a essa lista: os arrays e os data frames.

Agora, vamos falar sobre listas.

## Listas

Listas são sequências de objetos.  
Cada objeto é identificado pela sua posição na lista.

Uma lista pode conter números...

In [1]:
pares = [0, 2, 4, 6, 8, 10]

... strings...

In [2]:
espiãs = ['Sam','Alex','Clover']

... booleanos...

In [3]:
bools = [True, False, False, True]

... tipos misturados, e até outras listas:

In [4]:
zoeira = [0, 1, 2, 'três', 4.0, [5,6,7,8]]

### Indices e _slicing_

Os elementos de uma lista são identificados pela sua posição na lista, começando a contar do **zero**.  
Essa posição se chama **índice**.

In [5]:
#Vamos usar essa lista de exemplo
espiãs

['Sam', 'Alex', 'Clover']

In [6]:
espiãs[0]

'Sam'

In [7]:
espiãs[1]

'Alex'

In [8]:
espiãs[2]

'Clover'

Também podemos percorrer uma lista de trás para frente. Para isso, usamos índices negativos:

In [9]:
#Para recordar
espiãs

['Sam', 'Alex', 'Clover']

In [10]:
espiãs[-1]

'Clover'

In [11]:
espiãs[-2]

'Alex'

In [12]:
espiãs[-3]

'Sam'

Também podemos pegar um pedaço de uma lista.

In [13]:
#Vamos usar uma lista maior como exemplo:
skywalkers = ['Luke', 'Leia','Shmi', 'Anakin', 'Han','Ben','Rey']

In [14]:
skywalkers[2:4]

['Shmi', 'Anakin']

Note que o primeiro elemento é incluído. O último não.

Quando um índice é omitido, ele representa o início ou o final da lista.

In [15]:
skywalkers[:3]

['Luke', 'Leia', 'Shmi']

In [16]:
skywalkers[3:]

['Anakin', 'Han', 'Ben', 'Rey']

### Acrescentando um elemento a uma lista

Podemos acrescentar elementos à lista usando o método `.append`

In [17]:
skywalkers.append('Johny Walker')

In [18]:
skywalkers

['Luke', 'Leia', 'Shmi', 'Anakin', 'Han', 'Ben', 'Rey', 'Johny Walker']

### Criando uma lista

Podemos criar uma lista usando uma regra:

In [19]:
divisores_de_60 = []
for i in range(1, 61):
    if 60 % i == 0:
        divisores_de_60.append(i)

divisores_de_60

[1, 2, 3, 4, 5, 6, 10, 12, 15, 20, 30, 60]

Uma forma mais suscinta de fazer isso é usando _list comprehension_:

In [20]:
divisores_de_60 = [i for i in range(1,61) if 60 % i == 0]
divisores_de_60

[1, 2, 3, 4, 5, 6, 10, 12, 15, 20, 30, 60]

### Iterando por uma lista

Uma lista é um **iterável**. Isso significa que podemos percorrer todos os elementos de uma lista usando um _for loop_:

In [21]:
for jedi in skywalkers:
    print('The Force is strong with you, ' + jedi + ' Skywalker!')

The Force is strong with you, Luke Skywalker!
The Force is strong with you, Leia Skywalker!
The Force is strong with you, Shmi Skywalker!
The Force is strong with you, Anakin Skywalker!
The Force is strong with you, Han Skywalker!
The Force is strong with you, Ben Skywalker!
The Force is strong with you, Rey Skywalker!
The Force is strong with you, Johny Walker Skywalker!

Às vezes queremos iterar pelos elementos de uma lista _sabendo em que posição estamos_. Para isso, podemos usar o comando __enumerate__:

In [22]:
for i, jedi in enumerate(skywalkers):
    print(f'Jedi número {i}: {jedi} Skywalker')

Jedi número 0: Luke Skywalker
Jedi número 1: Leia Skywalker
Jedi número 2: Shmi Skywalker
Jedi número 3: Anakin Skywalker
Jedi número 4: Han Skywalker
Jedi número 5: Ben Skywalker
Jedi número 6: Rey Skywalker
Jedi número 7: Johny Walker Skywalker

### Aplicando funções a listas

In [23]:
#Vamos usar essa lista como exemplo
numeros = [5,3,2,1,4]
numeros

[5, 3, 2, 1, 4]

Podemos calcular o número de elementos de uma lista...

In [24]:
len(numeros)

5

...colocá-la em ordem...

In [25]:
sorted(numeros)

[1, 2, 3, 4, 5]

In [26]:
sorted(numeros, reverse=True)

[5, 4, 3, 2, 1]

...somar seus elementos...

In [27]:
sum(numeros)

15

... e, com a ajuda de outros pacotes, podemos também calcular o produto...

In [28]:
from numpy import prod
prod(numeros)

120

... e a média:

In [29]:
from numpy import mean
mean(numeros)

3.0

Também podemos aplicar uma função que não exista previamente usando `list`, `map` e `lambda`:

In [30]:
list(map(lambda x: 2*x, numeros))

[10, 6, 4, 2, 8]

Uma lista também pode ser filtrada com base em uma condição:

In [31]:
#Selecionar apenas os elementos maiores que 3
list(filter(lambda x: x > 3, numeros))

[5, 4]

### Desempacotando uma lista

In [32]:
a, b, c, _ = [10, 11, 12, 13]

In [33]:
a

10

In [34]:
b

11

In [35]:
c

12

### Alguns tipos especiais de lista

#### Lista de números consecutivos

In [36]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
list(range(15, 21))

[15, 16, 17, 18, 19, 20]

#### Lista de números seguidos mas "pulando"
(vulgo Progressão Aritmética)

In [38]:
list(range(10, 20, 2))

[10, 12, 14, 16, 18]

#### Lista de números aleatórios

In [39]:
from numpy.random import random
list(random(5))

[0.7740519339699002,
 0.41826267828758945,
 0.7764493912662824,
 0.4504817371484061,
 0.26952124804872823]

In [40]:
from numpy.random import normal
list(normal(size=5))

[1.1120735323165667,
 -0.7695167763131225,
 -1.6479078847753221,
 0.7716325762433557,
 -0.7900204792327529]

In [41]:
list(normal(loc=6, scale=0.3, size=5))

[5.878664673459896,
 6.435719364238884,
 6.225759709312125,
 6.111487405861259,
 5.75504601054053]

In [42]:
from numpy.random import poisson
list(poisson(3, size=5))

[1, 2, 4, 5, 6]

## Tuplas
Uma tupla é que nem uma lista, mas ela não pode ser alterada.

In [43]:
pokemons = ('Pikachu','Bulbassauro','Charmander')

In [44]:
pokemons[1]

'Bulbassauro'

In [45]:
for p in pokemons:
    print(p + ', eu escolho você!!!')

Pikachu, eu escolho você!!!
Bulbassauro, eu escolho você!!!
Charmander, eu escolho você!!!

Se tentamos modificar uma tupla, o Python ou dá erro...

In [46]:
pokemons.append('Magicarp')

AttributeError: 'tuple' object has no attribute 'append'

... ou transforma a tupla em uma lista:

In [47]:
sorted(pokemons)

['Bulbassauro', 'Charmander', 'Pikachu']

Para transformar uma tupla numa lista ou uma lista numa tupla, podemos usar os comandos `list` e `tuple`:

In [48]:
list(pokemons)

['Pikachu', 'Bulbassauro', 'Charmander']

In [49]:
tuple(skywalkers)

('Luke', 'Leia', 'Shmi', 'Anakin', 'Han', 'Ben', 'Rey', 'Johny Walker')

Em uma igualdade de tuplas, cada termo da primeira tupla é igual ao termo correspondente da segunda:

In [50]:
a, b = (1, 2)
print(f'a = {a} e b = {b}')

a = 1 e b = 2

Não precisamos dos parêntesis para definir uma tupla:

In [51]:
a, b = 1, 2
print(f'a = {a} e b = {b}')

a = 1 e b = 2

Isso pode ser usado para trocar variáveis:

In [52]:
a = 1
b = 2

a, b = b, a

print(f'a = {a} e b = {b}')

a = 2 e b = 1

Quando uma função retorna vários outputs, é usual que a resposta venha em uma tupla:

In [53]:
def dobro_triplo_quadruplo(x):
    return(2*x, 3*x, 4*x)

dobro_triplo_quadruplo(5)

(10, 15, 20)

Também é possível passar vários argumentos a uma função e pedir que eles sejam todos colocados em uma tupla. Isso é feito colocando-se um asterisco na frente do nome a ser dado à tupla de argumentos:

In [2]:
def f(*args):
    return(args)

f(1,2,3,4,5)

(1, 2, 3, 4, 5)

Para o que é que isso serve????

Isso é útil quando não sabemos quantos argumentos nossa função deverá receber. Ao colocá-los em uma única tupla, nossa função irá operar sobre um único argumento (a tupla) que poderá conter quantos elementos forem necessários. Considere, por exemplo, o caso de uma função que soma vários números. Nós não queremos uma função que some apenas 2 números, ou apenas 3. Queremos uma função que possa receber um número arbitrário de parcelas e somá-las todas. Podemos fazer isso assim:

In [7]:
def soma(*parcelas):
    total = 0
    for p in parcelas:
        total += p
    return(total)

print(soma(1,2,3))
print(soma(1,2,3,4,5))
print(soma(1,2,3,4,5,6,7,8,9,10))

6
15
55

### Exemplo: Análise Estatística com o pacote _Scipy_
As funções do pacote _scipy_ utilizam tuplas com bastante frequência:

In [54]:
from scipy.stats import describe, ttest_1samp # <- isto também é uma tupla :)

In [55]:
x = normal(loc=3, scale=1, size=100)
x

array([2.44022456, 4.18930581, 3.43814657, 3.37434738, 2.68327377,
       4.55307362, 3.02035539, 3.30645583, 3.56287821, 3.65151519,
       3.78080461, 1.90249507, 5.45013289, 0.8850745 , 4.69703591,
       1.53117845, 2.16008781, 3.40946683, 4.65164743, 2.76842196,
       3.70466075, 3.28128177, 4.80314123, 3.08674818, 1.82988675,
       4.26197265, 2.26144261, 2.45244086, 2.65566719, 3.53480485,
       3.12826427, 3.10202767, 4.38763335, 2.7492386 , 3.22674598,
       4.93315922, 2.94176871, 3.61130085, 3.2324174 , 2.09997099,
       2.99428923, 3.43062798, 2.67302401, 3.55185284, 4.06516625,
       2.06662779, 2.37215878, 3.21260905, 1.79125114, 2.73215724,
       2.62501153, 5.14148715, 4.83858703, 4.32630909, 2.5361459 ,
       2.9431005 , 2.95162722, 2.8606021 , 3.93775616, 4.72057392,
       3.55017033, 2.90343493, 2.84193659, 1.27231439, 3.1719894 ,
       3.4329618 , 4.11087906, 4.7487553 , 4.58292205, 3.91956498,
       2.39496169, 4.19170123, 3.11772669, 1.41315318, 2.94128654,
       3.62218697, 3.47765009, 3.32504049, 2.95956354, 2.55382343,
       4.45207301, 3.92587828, 1.79729947, 2.65436091, 4.09099405,
       3.09783219, 4.1191582 , 4.90602402, 1.69999898, 3.41809988,
       2.66035098, 2.56219748, 1.26770611, 2.90480854, 1.47861305,
       2.17259045, 3.50345949, 2.74390352, 1.85946414, 4.01863775])

In [56]:
ttest_1samp(x, 3)

Ttest_1sampResult(statistic=2.0941835505058384, pvalue=0.038797716380754875)

In [57]:
t, p = ttest_1samp(x, 3)
print(f't = {t}')
print(f'valor-p = {p}')

t = 2.0941835505058384
valor-p = 0.038797716380754875

Às vezes a estrutura é mais complexa...

In [58]:
describe(x)

DescribeResult(nobs=100, minmax=(0.8850745017787971, 5.450132887533878), mean=3.203769338193011, variance=0.9467780527169265, skewness=0.0030312540726951773, kurtosis=-0.4176330686749683)

In [59]:
n, (a, b), m, v, s, k = describe(x)

print(f'média = {m}')
print(f'amplitude = {b - a}')

média = 3.203769338193011
amplitude = 4.565058385755082

## Conjuntos

Em uma lista/tupla, os elementos têm uma ordem.  
Em um conjunto, não.
Além disso, um conjunto não têm elementos repetidos.

In [ ]:
#Uma turma de 5 alunos.
#Cada aluno votou em quem é o melhor professor...
votos_dos_alunos = ['Felipe','Felipe','Felipe','Socrates','Felipe']

professores_que_receberam_votos = set(votos_dos_alunos)

list(professores_que_receberam_votos)

Nós não vamos usar muito conjuntos. Quando usarmos, falaremos mais sobre eles.