# Prova
## Nome:

OBS: DEIXE AS CÉLULAS CONTENDO O COMANDO `assert` COMO AS ÚLTIMAS CÉLULAS DE CADA RESPOSTA.

In [3]:
import numpy as np

## Questão 1

Faça a função descrita no docstring a seguir.

```python
    '''
    Encontra a raiz de uma função usando o método da bissecção.
    
    Parameters
    ----------
    f: função
        A função cuja raiz desejamos encontrar
    a: float
        Um chute inicial que subestima a raiz verdadeira
    b: float
        Um chute inicial que superestima a raiz verdadeira
    tol: float
        Erro tolerado. Por default, 1e-6.
    
    Returns
    -------
    float
        Raiz estimada
    
    Notes:
    ------
    A função recebe uma função _f_ cuja raiz se deseja calcular,
    e dois valores, _a_ e _b_, entre os quais está a raiz que se deseja descobrir.
    A função calcula c = (a+b)/2, o ponto médio desse intervalo.
    Então, ou bem f(a) e f(c) têm sinais diferentes, ou f(c) e f(b) têm sinais diferentes.  
    No primeiro caso, podemos rodar o algoritmo novamente para buscar a raiz entre _a_ e _c_.
    No segundo, podemos fazer o mesmo buscando a raiz entre _c_ e _b_.
    O algoritmo continua até que o comprimento do intervalo em que estamos procurando a função
    seja menor do que o parâmetro _tol_. 
    Nesse momento, o valor retornado como estimativa da raiz é o valor de c = (a+b)/2.
    
    Examples:
    ---------
    >>> raiz(lambda x: (x-2), 0, 10)
    2.0000001788139343
    >>> raiz(lambda x: (x**2-81), 0, 10)
    9.000000059604645
    >>> raiz(lambda x: (2**x - 16),-10, 10)
    4.000000059604645
    >>> raiz(lambda x: x**2 - 5*x + 6, 1.5, 2.5)
    1.9999995231628418
    >>> raiz(lambda x: x**2 - 5*x + 6, 2.5, 3.5)
    2.999999523162842
    >>> raiz(lambda x: np.log(x), 0.5, 2)
    0.9999998807907104
 
```

Dica: A função `sign`, do pacote `numpy` te diz se um número é positivo ou negativo.

In [4]:
#== Gabarito ==#
def raiz(f, a, b, tol=1e-6):
        
    from numpy import sign
    
    c = (a+b)/2    
    
    if abs(a-b) > tol:
        
        if sign(f(a)) != sign(f(c)):
            return(raiz(f, a, c))
        else:
            return(raiz(f, c, b))
    else:
        return(c)

In [5]:
assert np.isclose(raiz(lambda x: (x-2), 0, 10), 2)
assert np.isclose(raiz(lambda x: (x**2-81), 0, 10), 9)
assert np.isclose(raiz(lambda x: (2**x - 16),-10, 10), 4)
assert np.isclose(raiz(lambda x: x**2 - 5*x + 6, 1.5, 2.5), 2)
assert np.isclose(raiz(lambda x: x**2 - 5*x + 6, 2.5, 3.5), 3) 
assert np.isclose(raiz(lambda x: np.log(x), 0.5, 2), 1)

## Questão 2

Em Cálculo, você vai aprender que o número $e \approx 2.71828...$ pode ser expressa como uma soma de infinitos termos:

$$
e = \frac{1}{0!} + \frac{1}{1!} + \frac{1}{2!} + \frac{1}{3!} + ... = \lim_{p \to \infty} \sum_{i=0}^{p} \frac{1}{i!}
$$

onde, obviamente, $0! = 1$.

1. Faça uma função chamada `e_approx` que receba um número inteiro `n` e um booleano, `lista`. Caso `lista` seja verdadeiro, a função deve retornar uma lista com os $n$ primeiros termos da soma acima. Caso `lista` seja falso, a função deve retornar a soma dos termos desta lista. Por default, `lista` deve ser falso.

In [14]:
#==Gabarito ==#

def fat(n):
    if n == 0:
        return(1)
    else:
        return(n * fat(n-1))



def e_approx(n, lista=False):
    
    termos = [1./fat(i) for i in range(n)]
    
    if lista:
        return(termos)
    else:
        return(sum(termos))

In [15]:
e_approx(3)

2.5

In [16]:
assert e_approx(3) == 2.5
assert e_approx(100) == 2.7182818284590455
assert e_approx(5, lista=True)[1] == 1.0
assert np.isclose(e_approx(100, lista=True)[50], 3.2879494166331584e-65)

Se você imprimir essa lista, vai ver que os termos vão ficando cada vez menores. É por isso que conseguimos somar infinitos termos, e mesmo assim ter como resultado um número finito.

2. Importe o número `e` do pacote `math`.

In [519]:
## Faça isso aqui! ##

from math import e

Ótimo! A função abaixo te calcula o _erro relativo_ de se aproximar o número $e$ por uma soma finita de apenas _n_ termos. Note que essa função utiliza a função que você definiu anteriormente:

In [520]:
def erro_relativo(n):
    
    valor_aproximado = e_approx(n)
    valor_exato = e
    erro_absoluto = abs(valor_aproximado - valor_exato)
    erro_relativo = erro_absoluto / valor_exato
    return(erro_relativo)

Quantos termos (`n`) devemos somar para que o erro relativo seja menor do que 1 em 1 milhao ($10^{-6}$)? Salve sua resposta como a variável $m$.

In [547]:
#== Gabarito ==
m = 0
while erro_relativo(m) >= 1e-6:
    m += 1
print(m)

10

In [548]:
assert m % 2 == 0
assert m % 3 == 1
assert m % 4 == 2
assert m % 15 == m

## Questão 3

Este [link](https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/amazon.csv) contém dados sobre _reviews_ de produtos da Amazon.

1. Importe a base e chame-a de `amazon`. Mostre 5 linhas _aleatórias_ desta base.

In [523]:
#== Gabarito ==#
import pandas as pd
amazon = pd.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/amazon.csv')
amazon.sample(5)

                                              reviewText  Positive
9078   Memory management apps like this are completel...         0
15723  Excellent sounds, very relaxing! Couldn't be h...         1
395    I recommend getting this game. It is a really ...         1
11571  I'm going to heed other reviews and NOT update...         1
13575  This app works fine on my Samsung Intercept (V...         1

2. Quantas avaliações existem? Salve sua resposta em uma variável `n`.

In [524]:
n = len(amazon)
n

20000

In [525]:
assert n % 625 == 0
assert n % 1250 == 0
assert len(str(n)) == 5
assert int(sorted(str(n))[-1]) == 2

3. A coluna `Positive` indica se um review foi positivo (1) ou não (0). Em uma única linha de código, mostre qual a fração de reviews positivos e negativos.

In [526]:
amazon.Positive.value_counts(normalize=True)

1    0.76165
0    0.23835
Name: Positive, dtype: float64

## Questão 4

Este [link](https://gist.githubusercontent.com/zhonglism/f146a9423e2c975de8d03c26451f841e/raw/f79e190df4225caed58bf360d8e20a9fa872b4ac/vgsales.csv) tem dados sobre vendas de videogames.

1. Importe esses dados como um dataframe chamado `vg` (de "videogame") onde a coluna `Rank` é o índice de linha. Mostre as primeiras 15 linhas desse dataframe.

In [527]:
#==Gabarito ==#
vg = pd.read_csv('https://gist.githubusercontent.com/zhonglism/f146a9423e2c975de8d03c26451f841e/raw/f79e190df4225caed58bf360d8e20a9fa872b4ac/vgsales.csv')
vg = vg.set_index('Rank')
vg.head(15)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00

2. Mude o nome das colunas do dataframe para:

* Jogo
* Plataforma
* Ano
* Tipo
* Empresa
* Vendas_AN
* Vendas_EU
* Vendas_JP
* Vendas_Outros
* Vendas_Global

In [528]:
#==Gabarito==#
vg.columns = ['Jogo',
              'Plataforma',
              'Ano',
              'Tipo',
              'Empresa',
              'Vendas_AN',
              'Vendas_EU',
              'Vendas_JP',
              'Vendas_Outros',
              'Vendas_Global']

3. Crie um dataframe chamado `vg2000` contendo apenas os videogueimes lançados do ano 2000 em diante.

In [529]:
#==Gabarito ==#
vg2000 = vg[vg.Ano >= 2000]

4. Considerando apenas os videogames lançados do ano 2000 em diante, calcule o total de vendas por empresa em cada região (América do Norte, Europa, Japão, Outros e Global). Salve esse dataframe com o nome `vg2000_empresas`.

In [530]:
#==Gabarito ==#
vg2000_empresas = vg2000.drop(columns='Ano').groupby('Empresa').sum()

5.Ordene esse dataframe em ordem decrescente de vendas globais (isso é, a primeira linha deve ter a empresa com o maior valor de vendas globais). Salve esse dataframe com o nome `vg2000_empresas_ord` e mostre a empresa que ocupa o topo do ranking de vendas globais.

In [531]:
#== Gabarito ==#
vg2000_empresas_ord = vg2000_empresas.sort_values('Vendas_Global',ascending=False)
vg2000_empresas_ord.head(1)

          Vendas_AN  Vendas_EU  Vendas_JP  Vendas_Outros  Vendas_Global
Empresa
Nintendo     495.17     322.69     285.44           81.5        1184.95

In [532]:
#1
assert len(list(vg.index)) == 16598

In [533]:
#2
assert vg.columns[2] == 'Ano'
assert vg.columns[4] == 'Empresa'

In [534]:
#3
assert min(vg2000.Ano) == 2000
assert len(vg2000) == 14353

In [535]:
#4
assert vg2000_empresas.shape == (457,5)
assert list(vg2000_empresas.columns) == ['Vendas_AN', 'Vendas_EU', 'Vendas_JP', 'Vendas_Outros','Vendas_Global']

In [536]:
#5
assert vg2000_empresas_ord.tail(1).index[0] == 'Rain Games'
assert vg2000_empresas_ord.tail().index[0] == 'Stainless Games'
assert np.isclose(vg2000_empresas_ord.Vendas_AN[4], 190.23)

## Questão 5

Rode o código abaixo.

In [537]:
np.random.seed(12345)
A = np.random.random((1000,5))
#A

1. Calcule a soma dos termos de cada linha desse array. Salve como o array `A1`

In [538]:
#==Gabarito ==#
A1 = A.sum(axis=1)

2. Calcule a média dos termos de cada coluna desse array. Salve como o array `A2`.

In [539]:
A2 = A.mean(axis=0)

3. Pegue a penúltima coluna desse array e salve como um array `v`. Em seguida, aplique a função `f` definida a seguir a cada um dos seus elementos. Salve o resultado como o array `A3`.

In [540]:
def f(x):
    return(1/(1+np.exp(-x)))

In [541]:
#== Gabarito ==#
v = A[:,-2]
A3 = f(v)

4. Crie um dicionário chamado `dicionario` com 4 chaves: `A`, `B`, `C` e `D`. 

* O valor associado à chave `A` deve ser um outro dicionário, com 3 chaves: `A1`, `A2` e `A3` contendo, respectivamente, os arrays `A1`, `A2` e `A3` que você criou acima. 
* O valor associado à chave `B` deve ser uma lista com 3 elementos quaisquer (pode inventar!)
* O valor associado à chave `C` deve ser um string qualquer (pode ser criativo!)
* O valor associado à chave `D` deve ser um booleano.

In [542]:
#==Gabarito ==#
dicionario = {'A': {'A1': A1,
                   'A2': A2,
                   'A3': A3},
             'B': [1,2,3],
             'C': 'abacate',
             'D': True}

In [543]:
assert A1.shape == (1000,)
assert np.isclose(A1[100], 1.7375104252504976)

In [544]:
assert A2.shape == (5,)
assert np.isclose(A2.std(), 0.008440454567631938)

In [545]:
assert A3.shape == (1000,)
assert np.isclose(A3[300], 0.7131625870884012)

In [546]:
assert np.prod(dicionario['A']['A1'] == A1)
assert np.prod(dicionario['A']['A2'] == A2)
assert np.prod(dicionario['A']['A3'] == A3)
assert isinstance(dicionario['B'], list)
assert isinstance(dicionario['C'], str)
assert isinstance(dicionario['D'], bool)