# Prova de Python para Análise de Dados - EPGE - 2022
---

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Questão 1

A sequência de Collatz é muito bonitinha. Ela recebe um número $n$ inteiro e devolve outro, calculado da seguinte maneira:

* se $n$ for par, ela devolve $\frac{n}{2}$
* se $n$ for impar, ela devolve $3n + 1$

Aparentemente, se você ficar repetindo esses passos várias vezes, você sempre chega a 1, independente do número do qual você começou. Sim, isso é estranho. E ninguém sabe o porquê.

#### (a)

Crie uma função chamada `collatz` que receba um número $n$ e devolva o próximo termo da sequência de Collatz, dada pela regra acima.

In [9]:
def collatz(n):
    if n%2 == 0:
        return(n/2)
    else:
        return(3*n + 1)

#### (b)

Faça uma função chamada `seq_collatz` que, a partir de um número $n$, devolva uma lista com todos os termos da sequência de Collatz até que o número 1 seja atingido. O número original e o 1 devem ser incluídos na lista.

Para verificar, note que a sequência do número 15 é 15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1.

In [10]:
def seq_collatz(n):
    
    seq = [n]
    while n > 1:
        n = collatz(n)
        seq.append(int(n))
    
    return(seq)

In [11]:
seq_collatz(15)

[15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]

# Questão 2

Este [link](https://gist.githubusercontent.com/zhonglism/f146a9423e2c975de8d03c26451f841e/raw/f79e190df4225caed58bf360d8e20a9fa872b4ac/vgsales.csv) tem dados sobre vendas de videogames.

#### (a)
Importe esses dados como um dataframe chamado `vg` (de "videogame") onde a coluna `Rank` é o índice de linha. Mostre as primeiras 15 linhas desse dataframe.

In [12]:
#==Gabarito ==#
vg = pd.read_csv('https://gist.githubusercontent.com/zhonglism/f146a9423e2c975de8d03c26451f841e/raw/f79e190df4225caed58bf360d8e20a9fa872b4ac/vgsales.csv')
vg = vg.set_index('Rank')
vg.head(15)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00

#### (b)
Mude o nome das colunas do dataframe para:

* Jogo
* Plataforma
* Ano
* Tipo
* Empresa
* Vendas_AN
* Vendas_EU
* Vendas_JP
* Vendas_Outros
* Vendas_Global

In [13]:
#==Gabarito==#
vg.columns = ['Jogo',
              'Plataforma',
              'Ano',
              'Tipo',
              'Empresa',
              'Vendas_AN',
              'Vendas_EU',
              'Vendas_JP',
              'Vendas_Outros',
              'Vendas_Global']

#### (c)
Crie um dataframe chamado `vg2000` contendo apenas os videogueimes lançados do ano 2000 em diante.

In [14]:
#==Gabarito ==#
vg2000 = vg[vg.Ano >= 2000]

#### (d)
Considerando apenas os videogames lançados do ano 2000 em diante, calcule o total de vendas por empresa em cada região (América do Norte, Europa, Japão, Outros e Global). Salve esse dataframe com o nome `vg2000_empresas`.

In [15]:
#==Gabarito ==#
vg2000_empresas = vg2000.drop(columns='Ano').groupby('Empresa').sum()

#### (e)
Ordene esse dataframe em ordem decrescente de vendas globais (isso é, a primeira linha deve ter a empresa com o maior valor de vendas globais). Salve esse dataframe com o nome `vg2000_empresas_ord` e mostre a empresa que ocupa o topo do ranking de vendas globais.

In [16]:
#== Gabarito ==#
vg2000_empresas_ord = vg2000_empresas.sort_values('Vendas_Global',ascending=False)
vg2000_empresas_ord.head(1)

          Vendas_AN  Vendas_EU  Vendas_JP  Vendas_Outros  Vendas_Global
Empresa
Nintendo     495.17     322.69     285.44           81.5        1184.95

In [17]:
#1
assert len(list(vg.index)) == 16598

In [18]:
#2
assert vg.columns[2] == 'Ano'
assert vg.columns[4] == 'Empresa'

In [19]:
#3
assert min(vg2000.Ano) == 2000
assert len(vg2000) == 14353

In [20]:
#4
assert vg2000_empresas.shape == (457,5)
assert list(vg2000_empresas.columns) == ['Vendas_AN', 'Vendas_EU', 'Vendas_JP', 'Vendas_Outros','Vendas_Global']

In [21]:
#5
assert vg2000_empresas_ord.tail(1).index[0] == 'Rain Games'
assert vg2000_empresas_ord.tail().index[0] == 'Stainless Games'
assert np.isclose(vg2000_empresas_ord.Vendas_AN[4], 190.23)